.about {
    

    background-color: $clr-accent-100;
    color: $clr-accent-900;
    color: #9db7a5;
    &__wrapper {
        padding: 5rem 0;

        display: grid;
        gap: 3rem;
        @media (min-width: $bp-sm){
            gap: 5rem;
        }
        
        // za tablet zelimo naslov preko cijele sirine, i dvije kolone ispod naslova
        @media (min-width: $bp-sm) and (max-width: $bp-md) {
            & div:first-child {
                grid-column: 1 / 3;
            }
        }
        // za vece ekrane naslov i tekst u tri kolone podjednako
        @media(min-width: $bp-md){
            grid-template-columns: repeat(3, 1fr);
        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media (min-width: $bp-sm){
                gap: 3rem;
            }
        }
    }

    // Signature & owner profile picture
    &__extra {
        display: flex;
        align-items: center;
    }
}