/* Reset */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select,
h1,
h2,
h3 {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Variables */

$clr-primary: #9db7a5;

$clr-secondary: #646f79;

$clr-accent-100: #ffffff;
$clr-accent-900: #000000;



$ff-primary: 'Ysabeau Infant', 'Open Sans', sans-serif;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$bp-md: 992px;
$bp-sm: 576px;

$shadow-light: 0 5px 15px rgba(0, 0, 0, 0.2);
$shadow-test: 0px 16px 5px 0px rgba(0,0,0,0.75);


/* General styling */

body {
  font-size: 1.6rem;
  font-family: $ff-primary;
  font-weight: $fw-400;
  line-height: 1.5;

  background-color: $clr-accent-100;
  color: $clr-accent-900;
}

.container {
  width: min(1400px, 100% - 20px);
  margin-inline: auto;
}

.container-left {
  width: min(1400px, 100% - 20px);
  margin-inline: auto;

  @media(min-width: $bp-md){
    width: min(1400px / 2, 100% - 20px);
    margin-inline:unset;
    margin-left: auto;
  }
}

.container-right {
  width: min(1400px, 100% - 20px);
  margin-inline: auto;
  
  @media(min-width: $bp-md){
    width: min(1400px / 2, 100% - 20px);
    margin-inline:unset;
    margin-right: auto;
  }
}

.heading-primary {
  font-size: 3.5rem;
  font-weight: $fw-500;
  color: $clr-accent-900;
  line-height: 1.2;
  text-transform: uppercase;

  @media (min-width: $bp-sm) {
    font-size: 4rem;
  }
  @media (min-width: $bp-md){
    font-size: 6rem;
  }
}
.heading-secondary {
  font-size: 3rem;
  font-weight: $fw-500;
  color: $clr-accent-900;
  line-height: 1.5;
  @media (max-width: $bp-sm){
    font-size: 3rem;
  }
}
.heading-tertiary {
  font-size: 2.2rem;
  font-weight: $fw-700;
  color: $clr-primary;
}
.display-block { 
  display: block;
}
.display-none {
  display: none;
}

.bg-yellow {
  background-color: #fbda54;
}
.bg-bordo {
  background-color: #974137;
}
.bg-gray-light {
  background-color: #e9e8e4;
}
.bg-gray-dark {
  background-color: #9db7a5;
}
.bg-white {
  background-color: #fff;
}

.clr-black {
  color: #000;
}
.clr-white {
  color: #fff;
}
.clr-gray-dark {
  color: #9db7a5;
}