.btn {
    cursor: pointer;
    display: block;
    border: none;
    transition: $transition;
    background-color: transparent;
}


.btn__link {
    @extend .btn;
    color: $clr-accent-100;
    font-size: 1.8rem;
    font-weight: $fw-600;
    text-transform: capitalize;

    // mobile/tablet styles
    @media (max-width: $bp-md){
        color: $clr-accent-900;
        padding: 1rem 0;
        border-top: 1px solid #646f7926;
    }

    // Hover effect for desktop
    &:hover {
        @media(min-width: $bp-md)
        {
            color: $clr-accent-900;
        }
    }

    &--highlight-white {
        @extend .btn__link;
        border-radius: 5px;
        padding: 5px 30px;
        border: 2px solid $clr-accent-100;
        color: $clr-accent-100;
    }

    &--highlight-dark {
        @extend .btn__link;
        border-radius: 5px;
        padding: 5px 30px;
        border: 2px solid $clr-secondary;
        color: $clr-accent-900;

        &:hover {
            color: $clr-accent-100;
            border: 2px solid $clr-accent-900;
        }
    }
}


.btn__toggle {
    @extend .btn;
    margin-right: 0;
    margin-left: auto;
    height: 60px;

    &:hover {
        transform: scale(1.1);
    }
    
    @media(min-width: $bp-md){
        display: none;
    }
}

.btn__footer {
    @extend .btn;

    color: $clr-secondary-2;
    font-weight: $fw-400;
    font-size: 1.6rem;

    @media(max-width: $bp-md){
        border-bottom: 1px solid $clr-secondary-4;
    }

    &:hover {
        // Desktop
        @media(min-width: $bp-md){
            color: $clr-accent-900;
            text-decoration: underline;
        }  
    }
}


.section__intro {
    width: min(1400px + ((100% - 1400px) / 2), 100% - 20px);
    margin-left: auto;

    div {
        padding-top: 1rem;
        border-top: 3px solid $clr-primary;
    }
}

.section__intro--center {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    

    div:first-child {
        background-color: $clr-primary;
        width: 50px;
        height: 3px;
    }
    div:last-child {
        background-color: $clr-primary;
        width: 50px;
        height: 3px;
    }
}

.img-owner {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid $clr-primary;
}

.signature {
    height: 100px;
    width: 200px;
}
