.btn {
    cursor: pointer;
    display: block;
    border: none;
    transition: $transition;
    background-color: transparent;
}


.btn__link {
    @extend .btn;
    color: $clr-accent-100;
    font-size: 1.8rem;
    font-weight: $fw-500;

    // Mobile & Tablet only
    @media (max-width: $bp-md){
        color: $clr-secondary-2;
        padding: 1rem 0;
        border-bottom: 1px solid #646f7926;
    }

    // Hover effect for desktop
    &:hover,
    &:focus {
        @media(min-width: $bp-md)
        {
            outline: none;
            color: $clr-accent-900;
        }
    }

    &--highlight-white {
        @extend .btn__link;
        border-radius: 3px;
        padding: 10px 30px;
        border: 1px solid $clr-accent-800;
        color: $clr-accent-800;

        &:hover,
        &:focus {
            // hover only for desktop
            @media(min-width: $bp-md){
                color: $clr-accent-100;
                background-color: transparent;
                border: 1px solid $clr-accent-100;
            }             
        }
    }

    &--highlight-dark {
        @extend .btn__link;
        border-radius: 3px;
        padding: 10px 30px;
        background-color: $clr-accent-800;
        color: $clr-accent-100;
        letter-spacing: .5px;
        border: 1px solid $clr-accent-800;

        &:hover,
        &:focus {
            // hover only for desktop
            @media(min-width: $bp-md){
                color: $clr-accent-100;
                background-color: transparent;
                border: 1px solid $clr-accent-100;
            }           
        }
    }
}


.btn__toggle {
    @extend .btn;
    margin-right: 0;
    margin-left: auto;
    height: 50px;

    &:hover {
        transform: scale(1.1);
    }
    
    @media(min-width: $bp-md){
        display: none;
    }
}

.btn__footer {
    @extend .btn;

    color: $clr-secondary-2;
    font-weight: $fw-400;
    font-size: 1.6rem;

    @media(max-width: $bp-md){
        border-bottom: 1px solid $clr-secondary-4;
    }

    &:hover,
    &:focus {
        // Desktop
        @media(min-width: $bp-md){
            outline: none;
            color: $clr-accent-900;
            text-decoration: underline;
        }  
    }
}


.section__intro {
    width: min(1400px + ((100% - 1400px) / 2), 100% - 15px);
    margin-left: auto;

    div {
        padding-top: 1rem;
        border-top: 3px solid $clr-primary;
    }
}

.section__intro--center {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    

    div:first-child {
        background-color: $clr-primary;
        width: 50px;
        height: 3px;
    }
    div:last-child {
        background-color: $clr-primary;
        width: 50px;
        height: 3px;
    }
}

.img-owner {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid $clr-primary;

    @media (max-width: $bp-sm){
        height: 150px;
        width: 150px;
    }
}

.signature {
    height: 100px;
    width: 200px;

    @media (max-width: $bp-sm){
        height: 100px;
        width: 150px;
    }
}
