.contact {
    padding: 10rem 0;

    &__wrapper {
        display: grid;
        padding: 2rem 0;

        // Desktop
        @media(min-width: $bp-md){
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__column {
        height: 600px;
        @media(max-width: $bp-sm){
            height: unset;
        }

        // 1. Kolona
        &:first-child {
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            
            h2 {
                text-align: left;
            }

            // Desktop only
            @media(min-width: $bp-md){
                padding-right: 30px;
            }

            // Mobile only
            @media(max-width: $bp-sm){
                padding-bottom: 5rem;
            }

            img {
                width: 200px;
                height: 200px;

                @media (max-width: $bp-sm){
                    width: 80px;
                    height: 80px;
                }
            }
        }
        // 2. Kolona
        &:nth-child(2) {
            background-color: $clr-primary;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            @media (max-width: $bp-sm){
                padding: 30px 10px 30px 10px;
            }
        }
        // 3. Kolona
        &:last-child {
            background-color: $clr-primary;

            @media(max-width: $bp-sm){
                height: 40rem;
            }
        }
    }
}


.contact__box {
    &--header {
        display: flex;
        gap: 20px;
        align-items: start;

        img {
            height: 40px;
            width: 40px;
        }

        span {
            font-size: 2rem;
            font-weight: $fw-600;
        }
    }

    &--content {
        padding-left: 60px;
        font-size: 1.8rem;
        display: grid;
        gap: .5rem;
        color: $clr-secondary-2;
    }
}


.map-container {
    position: relative;
    overflow: hidden;
}
.map-container:before, .map-container:after, .map:before, .map:after {
    position: absolute;
    display: block;
    box-shadow: 0 0 10px 1px rgb(157, 183, 165);
    content: '';
    z-index: 5;
}
.map-container:before {
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map-container:after {
    right: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
.map:before{
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map:after{
    left: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
#map {
    width: inherit;
    height: inherit;
}
