.header {
    
    // Desktop
    @media (min-width: $bp-md){
        height: 9rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
}

.main-nav {
    height: 0;
    overflow: hidden;
    transition: all .3s linear;
    background-color: $clr-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // Desktop
    @media(min-width: $bp-md){
        height: 100%;
    }

    & ul {
        @media (min-width: $bp-md){
            width: min(700px, 100% - 20px);
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}

.nav-header {
    
    display: flex;
    align-items: center;
    justify-content: space-between; 

    @media (min-width: $bp-md){
        width: min(700px, 100% - 20px);
        margin-left: auto;
    }
}

.show-links {
    height: 22rem;
}

.logo {
    max-height: 200px;
    max-width: 200px;
}