.header {
    // Desktop
    @media (min-width: $bp-md){
        height: 9rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    // Mobile & Tablet only
    @media (max-width: $bp-md){
        padding: 1rem 0;
    }
}

.main-nav {
    // Desktop
    transition: all .3s linear;
    background-color: $clr-primary;
    height: 100%;
    display: flex; // using flex on main-nav only so I can align items center;
    align-items: center;
    
    
    // Tablet
    @media(max-width: $bp-md){
        height: 0;
        overflow: hidden;
        background-color: $clr-accent-100;
    }

    & ul {
        // Desktop
        @media (min-width: $bp-md){
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 5rem;
        }

        // Mobile
        @media (max-width: $bp-md) {
            display: flex;
            flex-direction: column;
            gap: 1rem;


            & li:last-child {
                text-align: center;
            }
        }
    }
}

.nav-header {
    // Mobile & Tablet Layout
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.show-links {
    height: 35rem;
}

.logo {
    max-width: 150px;

    @media (max-width: $bp-md){
        max-width: 120px;
    }
}