.hero {
    // Mobile layout
    display: flex;
    flex-direction: column;

    // Desktop layout
    @media (min-width: $bp-md){
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh - 9vh;
    }


    // LEFT
    &__left {
        background-color: $clr-primary;

        &--content {
            padding-top: 15rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5rem;

            p {
                font-size: 1.8rem;
                max-width: 50ch;
                color: $clr-accent-900;
            }

            // left--content styles for mobile/tablet 
            @media(max-width: $bp-md){
                padding: 3rem 0;
                gap: 3rem;
            }
        }

        &--buttons {
            display: flex;
            gap: 3rem;
        }
    }

    // RIGHT
    &__right {
        @media(min-width: $bp-md){
            padding-top: 5rem;
        }
        

        &--content {
            height: 100%;
            background: url(/images/image-hero.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            position: relative;

            @media (max-width: $bp-md){
                height: 400px;
            }

            @media(min-width: $bp-sm) and (max-width: $bp-md){
                background: url(/images/image-hero-tablet.png);
            }
        }

        &--box {
            background-color: #9db7a5ef;
            display: flex;  
            align-items: center;
            gap: 2rem;
            padding: 10px 20px;
            font-size: 1.5rem;
            font-weight: $fw-600;
            border-radius: 5px;
            color: #fff;
            width:fit-content;
            height: fit-content;

            @media(max-width: $bp-md){
                background-color: #9db7a5b6;
            }
        
            &-icon {
                height: 28px;
                width: 28px;
            }

            &-1 {
                position: absolute;
                right: 0;
                top: 20%;
                @media(max-width: $bp-md){
                    top: 10%;
                }
            }
            &-2 {
                position: absolute;
                right: 0;
                top: 30%;  
            }
                
            &-3 {
                position: absolute;
                right: 0;
                top: 40%;
                @media(max-width: $bp-md){
                    top: 45%;
                }
            }
        }
    }
}

