.hero {
    padding: 5rem 0;

    &__top {
        display: flex;
        justify-content: space-between;

        &--extra {
            & div:last-child {
                padding-top: 1rem;
                font-size: 2rem;
                font-weight: $fw-500;

                @media (min-width: $bp-sm){
                    font-size: 2.5rem;
                }
            }
        }

        @media (max-width: $bp-sm) {
            flex-direction: column;
            gap: 3rem;

            & div:last-child {
                align-self: flex-end;
            }
        }
    }

    &__bottom {
        padding: 10rem 0;

        &--image {
            height: 60rem;
            object-fit: cover;
            width: min(1400px + ((100% - 1400px) / 2), 100% - 20px);
            margin-right: auto;

            @media (max-width: $bp-sm) {
                height: 20rem;
            }
        }
    }
}