.partners {
    padding: 15rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    h2,p {
        margin: 0 auto;
        text-align: center;
    }

    p {
        max-width: 65ch;
        
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    &__logo {
        max-width: 15rem;
    }

}

.test {
    font-size: 2rem;
    color: rgb(83, 83, 83);
    letter-spacing: 1px;
    font-style: italic;
}

// kdjčfkjd