.projects {

    &__wrapper {
        padding: 5rem 0;

        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem; */
        
    }

    &__topline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        font-size: 2.2rem;
        max-width: 60ch;
        padding: 2rem 0;
        font-weight: $fw-500;
        text-align: center;
    }

    &__buttons {
        background-color: $clr-primary;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 2rem;
        
        
        &--box {
            
            width: 100%;
        }
    }
}


// Project Boxes

.project__box {
    height: 450px;

    &--image {
        height: 300px;
        box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.3);

        img {
            height: 100%;
            object-fit: cover;
            z-index: -5;
            position: relative;
        }
    }

    &--content {
        height: 150 px;
        padding: 10px;
        background-color: $clr-primary;
    }


    &--text {
        margin-top: 20px;
        line-height: 1.5;
        color: $clr-secondary-2;
    }
}

.project__box--2 {
    height: 450px;

    &--image {
        height: 300px;
        box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.3);

        img {
            height: 100%;
            object-fit: cover;
            z-index: -5;
            position: relative;
        }
    }

    &--content {
        // height: 150px;
        padding: 20px;
        background-color: $clr-primary-2;
    }


    &--text {
        line-height: 1.5;
        color: $clr-secondary-2;
        color: white;
    }
}

.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1rem;
    margin-top: 1rem;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-top: 1rem;
}