.projects {
    background-color: #fff;

    &__wrapper {
        padding: 5rem 0;
    }

    &__top {
        display: flex;
        margin-bottom: 3rem;

        > * {
            flex-basis: 50%;
        }

        // Buttons
        div:last-child {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
        }
    }
}


.project-box {
    height: 50rem;
    width: 60rem;
    box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.3);

    img {
        height: 70%;
        object-fit: cover;
    }

    &__content {
        height: 30%;
        padding: 20px 40px;
    }

    &--topline {
        display: block;
        letter-spacing: .06rem;
        font-weight: 700;   
    }

    &__text {
        font-size: 2rem;
        margin-top: 20px;
        line-height: 1.5;
    }
}

.slider {
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.pagination {
    padding: 2rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;

    &__button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background-color: #9db7a5;
    }
}