.projects {
    background-color: #f8f8f6;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10rem 0;

        // Column Left
        &--col-1,
        &--col-2 {
            display: grid;
            gap: 5rem;
        }
    }
}


.project-box {
    height: 50rem;
    width: 55rem;
    box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.3);

    img {
        height: 70%;
        object-fit: cover;
    }

    &__content {
        height: 30%;
        padding: 20px 40px;
    }

    &--topline {
        display: block;
        letter-spacing: .06rem;
        font-weight: 700;   
    }

    &__text {
        font-size: 2rem;
        margin-top: 20px;
        line-height: 1.5;
    }
}