.service__box {
    max-width: 50rem;
    display: flex;

    &--icon {
        padding: 10px;

        img {
            height: 60px;
            width: 60px;
        }
    }

    &--heading {
        font-size: 2rem;
        font-weight: $fw-500;
        margin-bottom: 5px;
    }

    &--content {
        padding-top: 1rem;
        p {
            color: $clr-secondary-2;
            max-width: 40ch;
        }
    }    
}

.services {
    background-color: $clr-accent-100;
    color: black;

    &__heading {
        text-align: center;
    }


    &__wrapper {
        padding: 5rem 0;
        display: grid;
        gap: 1rem;
        row-gap: 5rem;
        column-gap: 2rem;
        

        // Tablet
        @media(min-width: $bp-sm){
            grid-template-columns: repeat(2, 1fr);
        }

        // Desktop
        @media(min-width: $bp-md){
            grid-template-columns: repeat(3, 1fr);
        }
    }
}