.why {
    padding: 10rem 0;
    &__heading {
        padding-top: 5rem;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 0;
    }
}

.why__box {
    display: flex;
    gap: 1rem;
    img {
        height: 80px;
        width: 80px;
    }
    
    p {
        max-width: 25ch;
    }
}